:root {
  --main-white: #ebebeb;
  --main-grey: #d4d4d4;
  --main-highlight: #f0f2c5;
  --main-selected: #0072ba;
  --main-bg: #c8d6d8;

}

#desktop {
  padding:2em;
  margin: 0 auto;
  width:90%;
  min-height:75vh;
  background-color:white;
}

body {
  font-family: Verdana;
  font-size:0.8em;
  background: var(--main-bg);
}

header {
  height:5em;
  padding: 1em 4em;
  display:block;
  background: var(--main-selected);
  color: var(--main-white);
  margin-bottom:3em;
}


section {
  display:block;
  position:absolute;
  overflow:hidden;
  max-width:300px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.34);
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.34);
}

.section-content {
  padding:1em;
  background-color: #DBE3EF;
  color:black;
  max-height:500px;

  overflow-y: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--main-grey);
  -webkit-transition:max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  /*transition:max-height 0.5s;*/
}

.section-header {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  background-color: var(--main-selected);
  border-top-left-radius: 3em;
  border-top-right-radius: 0.5em;
  color:var(--main-white);
  padding: 0.2em 3em;
  padding-right: 5em;
}

/*.section-header:active {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
}*/

.section-utils {
  position:absolute;
  top: 1em;
  right: 1em;
}

.grabbed {

}

span svg {
  margin-left:5px;
  cursor: default;
}

span svg:hover {
  transform: scale(1.5);
  color: var(--main-highlight);
}

.shadow {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.34);
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.34);
}

.minimized {

  /*transform: scaleY(0);*/
  max-height:0 !important;
  padding:0 !important;
  overflow:hidden;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
/*.slide-content-enter-active {
  transition: max-height, .3s ease;
}
.slide-content-leave-active {
  transition: max-height, .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}*/
